nav{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    background-color: transparent;
    animation-name:ani1;
    animation-duration: 5s;
}
a{
    text-decoration: none;
    color: #3c413e;
    animation-name:ani2;
    font-family: 'Open Sans', sans-serif;
    font-size: 130%;
    padding: 15px;
    
}
nav :hover{
    color:white;
   background-color:#64915c;
   border-radius: 10%;
   
}
.logo{
    animation-name: ani2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes ani1{
   from
    {background-color:transparent;}
    to{background-color: #64915c;}
    
}
@keyframes ani2{

    from
    {top:0px;}
    to{margin-top:10px;}
    
}