nav{
    display:flex;
    align-items: center; 
    justify-content: space-around;
    font-family: sans-serif;
    background-color:transparent;
    animation-name:ani1;
    animation-duration: 5s;

}
a{
    text-decoration: none;
    color: rgb(20, 65, 20);
    animation-name:ani2;
    
}
nav :hover{
    color:#909F43;
   background-color:rgb(223, 249, 223);
   border-radius: 15%;
   
}
.logo{
    animation-name:ani2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes ani1{

    from
    {background-color:transparent;}
    to{background-color: honeydew;}
    
}
@keyframes ani2{

    from
    {top:0px;}
    to{margin-top:10px;}
    
}


