*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

body, html{
    color:rgb(38, 99, 46); 
    height: auto;
    background-image: url(/imgs/homeimgs/Abstract\ Ambient\ Light\ Background\ Day\ Blue-01.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    
}
/*  Mobile-first approch */

/*Slide image annimation*/
.slide-show{  
    box-sizing: border-box;
    width: 100%;
    height:auto;
    padding-bottom: 40%;
    overflow: hidden;
    position: relative;
    margin:0;      
}
.slide-show img{
    position: absolute;
    animation:slide-show 20s infinite;
    opacity: 0;
    height:auto;
    
}
.slide-show p{
    position:relative;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1em;
}

@keyframes slide-show {
    25%{opacity:1;}
    40%{opacity:0;}
}


.slide-show img:nth-child(1){animation-delay:0s;}
.slide-show img:nth-child(2){animation-delay:4s;}
.slide-show img:nth-child(3){animation-delay:8s;}
.slide-show img:nth-child(4){animation-delay:12s;}
.slide-show img:nth-child(5){animation-delay:16s;}
.slide-show img:nth-child(6){animation-delay:20s;}
.slide-show img:nth-child(7){animation-delay:24s;}


/*card using grid and Media queries with CSS grids.*/

.container2{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    text-align: center;
    display:grid;
    color: rgb(38, 99, 46);
    font-size: 1.2em;
    grid-template-columns: 1fr;
    grid-template-areas: "pic1"
                         "pic2"
                         "pic3"
                         "pic4"
                         "pic5";
    margin-top: 1%;
    grid-gap:1%;  
    font-size: 1.5em; 
    line-height: 2em;
                 
}

#erbjuda{
    
    grid-area:pic1;
    
      
}

#lung{

    grid-area:pic2;
    padding-left: 9%;
    
}
#lokal{
    
    grid-area:pic3;
    padding-left: 9%;
    
    
}
#tränar{
    
    grid-area:pic4 ;
    padding-left: 9%;
    
}
#vårtid{
    
    grid-area:pic5 ;
    padding-left: 9%;
    margin-bottom: 14%;
    
    
    
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition:0.3s;
    width:90%;
    height:auto;
    padding-bottom: 5%;
    
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container{
    padding:2px 16px;
    
}

.card img{
    padding-top: 5%;
}
h3{

    line-height: 0.5em;
    
}

/*overlay animation*/
.middle-container{
    position: relative;
    width:50%;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.8em;
    justify-content: center;
    

}
.image1{
    display:block;
    width:100%;
    height: auto;
}
.overlay{
    position:absolute;
    bottom:100%;
    left:0;
    right:0;
    background:transparent;
    overflow: hidden;
    width:100%;
    height:0;
    transition: .5s ease;
}
.middle-container:hover .overlay{
    bottom:0;
    height:100%;
}
.image2{
    position: absolute;
    top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-content: center;

}
footer{
    padding-bottom: 2px;
}
span{
    font-size: 1.5em;
    color: rgb(128, 88, 238);
}
#dsize{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    margin-bottom: 4%;
    justify-content: center;
    
}
@media only screen and (min-width:200px) and (max-width:370px){

    nav a{
        font-size: small;
        padding:0 0 0 0;
        margin:0;
        width: auto;

        
    }
}


/* Tablets såsom ipad(mellan 960px och 768px)*/

@media only screen and (min-width:768px) and (max-width:960px){

    .container2{
        grid-template-columns: repeat(4,1fr);
    grid-template-areas: ". pic1 pic1 ."
                         "pic2 pic2 pic3 pic3"
                         "pic4 pic4 pic5 pic5";
                         padding-left: 4%;
     
    }
    
    .slide-show p{

        font-size: 1.8em;
    }

}
/* Mindre desktop skrämar:(mellan 1200px och 960px)*/

@media only screen and (min-width:960px) and (max-width:1200px){
    .container2{
        
        grid-template-columns: repeat(12,1fr);
                grid-template-areas:". . . . pic1 pic1 pic1 pic1 . . . ."
                                    "pic2 pic2 pic2 pic3 pic3 pic3 pic4 pic4 pic4 pic5 pic5 pic5";   
                                    
                                    padding-right: 2%;  
                                    
                                
                                }
        
        .card{
            width: 100%;
            height: 90%;
            
            
        }
        #vårtid{
            height: 100%;
            
            
        }
        .slide-show p{

            font-size: 1.8em;
        }
        
        
}

/* Breda desktop skrämar:(större 1200px)*/
        @media only screen and (min-width:1200px){
          
            .container2{
                grid-template-columns: repeat(12,1fr);
                        grid-template-areas: ". . . pic1 pic1 pic1 pic1 pic1 pic1 . . ."
                                            "pic2 pic2 pic2 pic3 pic3 pic3 pic4 pic4 pic4 pic5 pic5 pic5";     
                
                                                          
                        
                      }
                      .card{
                        width: 100%;
                        height: 90%;
                           
                    }
                    #vårtid{
                        height: 100%;
                        padding-right: 4%;
                        
                    }
                    .slide-show p{

                        font-size: 1.8em;
                    }
                               
                
        }