

* {
  box-sizing: border-box;
  
}



body,html{
  
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background-image: url(/imgs/homeimgs/Abstract\ Ambient\ Light\ Background\ Day\ Blue-01.jpg);
    
}
/* css for header*/
nav{
  display: flex;
  align-items: center; 
  justify-content: space-around;
  background-color: transparent;
  animation-name:ani1;
  animation-duration: 5s;
}
nav a{
  text-decoration: none;
  color: #3c413e;
  animation-name:ani2;
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  padding: 10px;
  
}
nav :hover{
  color:white;
 background-color:#64915c;
 border-radius: 10%;
 
}
.logo{
  animation-name: ani2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes ani1{
 from
  {background-color:transparent;}
  to{background-color: #64915c;}
  
}
@keyframes ani2{

  from
  {top:0px;}
  to{margin-top:10px;}
  
}



h3, h4{

  color:rgb(42, 56, 17);
  text-align: center;
  font-weight:bold;
}



/*Guide container css*/
.guide-container { 
    display: flex;
    width:100%;
    height:auto; 
    background-image:url(/images/whitedog.jpg);
    margin-top: 20px;
    padding: 20px 15px; 
    flex-wrap: wrap;
    justify-content: space-around;
} 
#st-box,
#nd-box,
#rd-box
 {  
    background-color:rgba(225, 236, 222, 0.8); 
    margin-top: 50px;
    animation: animation3 1.5s ease-out;
  }
  
  @keyframes animation3 {
    0%   {transform: scale(0.3);}
    100% {transform: scale(1);}
  }

.text{
    width:280px;
    height:280px;
    border: 1px solid black;
    margin:20px;
    text-align: center;
    font-size: 18px;
}

    
.guide-info{
    list-style-type: none;
    font-size: 15px;
    color:rgb(42, 56, 17);
    text-align: center;
    line-height: 1.5;
    
}

.guide-info li a {
  text-decoration: none;
  color:rgb(42, 56, 17);
}

.team{
    line-height: 3;
}



/*Content-container css*/
.content-container{
  box-sizing: border-box;
  display:grid;
  width: 100%;
  height: auto;
  align-items: center;
  text-align:start;
  color: rgb(42, 56, 17);
  font-size: 1em;
  grid-template-columns: 1fr;
  grid-template-areas: "item1"
                       "item2"
                       "item3"
                       "item4"
                       "item5"
                       "item6";
  margin-top: 1%;
  grid-gap:1%;
}

#item1{
  grid-area: item1;
  padding-left: 8%;
}

#item2{
  grid-area: item2;
  padding-left: 8%;
}
#item3{
  grid-area: item3;
  padding-left: 8%;
}
#item4{
  grid-area: item4;
  padding-left: 8%;
}
#item5{
  grid-area: item5;
  padding-left: 8%;
}
#item6{
  grid-area: item6;
  padding-left: 8%;
}

#item1,
#item2,
#item3,
#item4,
#item5,
#item6{

  width:90%;
  height:auto;
  padding-bottom: 5%;
  
}

.content-container div img{
  margin-top: 10%;
  border-radius: 70%;
  
}




/*style for go up button*/
  button {
      display: block;
      margin-left:auto;
      margin-top:50px;
      font-size: 18px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background-color: white;
      border: none;
      border-radius: 50%;
      /*box-shadow: 0 9px rgb(199, 223, 202);*/

  }

  button a{
    text-decoration: none;
    color:darkgreen;
  }

  /*Team container css*/
  
  .team-container {
    position: relative;
    text-align: center;
    color:rgb(5, 78, 5);
  }

  .team-img{
      width:90%;
      height: auto;
      opacity: 0.2;

  }

  .team-text{
    position: absolute;
    width:80%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color:rgb(3, 48, 3);
    line-height:130%;
 
  }

  @media (max-width: 768px) {
    .team-text {
      width:100%;
      font-size: 0.5em;
    }
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
 .clearfix {
  overflow: auto;
}


/* Behandling layout design*/


.behandling-container{
  box-sizing: border-box;
  width: 100%;
  height: auto;
  text-align: center;
  display:grid;
  color: rgb(38, 99, 46);
  font-size: 1em;
  grid-template-columns: 1fr;
  grid-template-areas: "pic1"
                       "pic2"
                       "pic3"
                       "pic4"
                       "pic5";
  margin-top: 1%;
  grid-gap:1%;
  
  

  
  
                 
}

#hundfrisör{
  
  grid-area:pic1;
  padding-left: 8%;
    
}

#kloklipp{

  grid-area:pic2;
  padding-left: 8%;
  
  
}
#hundbad{
  
  grid-area:pic3;
  padding-left: 8%;
  
  
}
#tovutredningt{
  
  grid-area:pic4 ;
  padding-left: 8%;
  
}
#öronrengöring{
  
  grid-area:pic5 ;
  padding-left: 8%;
  
  
}


.card{

  width:90%;
  height:auto;
  padding-bottom: 5%;
  
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container{
  padding:2px 10px;
  
}

.card img{
  padding-top: 5%;
}
h4{

  line-height: 0.5em;
  
}

    
@media only screen and (min-width:768px) and (max-width:960px){

  .content-container{
     grid-template-columns: repeat(4,1fr);
     grid-template-areas: 
                        "item1 item1 item2 item2"
                        "item4 item4 item3 item3"
                        "item5 item5 item6 item6";
     
  }
  .behandling-container{
      grid-template-columns: repeat(4,1fr);
      grid-template-areas:
                       "pic1 pic1 pic2 pic2"
                       "pic3 pic3 pic4 pic4"
                       ". pic5 pic5 .";
                       padding-left: 4%;
   
  }
  nav a {
    font-size: 110%;
    padding:12px;
  }

  
  
  

}
@media only screen and (min-width:960px) and (max-width:1200px){

  .content-container{
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: 
                       "item1 item1 item1 item1 item1 item1 item2 item2 item2 item2 item2 item2"
                       "item4 item4 item4 item4 item4 item4 item3 item3 item3 item3 item3 item3"
                       "item5 item5 item5 item5 item5 item5 item6 item6 item6 item6 item6 item6";
    
 }
 
      .item{
        width:100%;
        height: 90%;
      }
  .behandling-container{
      
              grid-template-columns: repeat(12,1fr);
              grid-template-areas:
              "pic1 pic1 pic1 pic1 pic2 pic2 pic2 pic2 pic3 pic3 pic3 pic3"
              ". . pic4 pic4 pic4 pic4 pic5 pic5 pic5 pic5 . .";  
              /*padding-right: 2%;  */
                                  
                              
                              }
      
      .card{
          width: 100%;
          height: 90%;
          
          
      }
      nav a {
        font-size: 120%;
        padding:15px;
      }
      
      
}

 @media only screen and (min-width:1200px){

  .content-container{
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: 
                       "item1 item1 item1 item1 item1 item1 item2 item2 item2 item2 item2 item2"
                       "item4 item4 item4 item4 item4 item4 item3 item3 item3 item3 item3 item3"
                       "item5 item5 item5 item5 item5 item5 item6 item6 item6 item6 item6 item6";
    
 }

      .item{
        width:100%;
        height: 90%;
    }
        
  .behandling-container{
              grid-template-columns: repeat(12,1fr);
              grid-template-areas:
              "pic1 pic1 pic1 pic1 pic2 pic2 pic2 pic2 pic3 pic3 pic3 pic3"
              ". . pic4 pic4 pic4 pic4 pic5 pic5 pic5 pic5 . .";              
              
                                                        
                      
                    }
                    .card{
                      width: 100%;
                      height: 90%;
                         
                  }

    nav a {
      font-size: 130%;
      padding:15px;
    }
                  
  }            
