body {
  width: 100%;
  height: auto;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(253, 253, 252); }

nav{
    display:flex;
    align-items: center; 
    justify-content: space-around;
    font-family: sans-serif;
    background-color:transparent;
    animation-name:ani1;
    animation-duration: 5s; }

a{
    text-decoration: none;
    color: rgb(20, 65, 20);
    animation-name:ani2; }

nav :hover{
    color:#909F43;
   background-color:rgb(223, 249, 223);
   border-radius: 15%; }

.logo{
    animation-name:ani2;
    animation-duration: 1s;
    animation-fill-mode: forwards; }

@keyframes ani1{
    from
    {background-color:transparent;}
    to{background-color: honeydew;} }

@keyframes ani2{
    from
    {top:0px;}
    to{margin-top:10px;} }


.header {
    width: 100%;
    height: 510px;
    background-image: url(https://images.pexels.com/photos/4148867/pexels-photo-4148867.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-position: center; }
    
.text-header {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.text {
    display: grid;
    grid-gap: 1em;
    padding-top: 550px;
    grid-template-columns: 60%;
    position: relative;
    text-align: center;
    margin-left: 550px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
  }


.grid-container {
    display: grid;
    grid-gap: 5em;
    padding-top: 55px;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 100%;
    position: center;
    left: 30px;
}

.box {
    background-color: #2d7e19;
    height: 400px;
    width: 70%;
    margin: auto;
    color: white }

.box1 {
    display: grid;
    grid-template-rows: minmax(100px, auto);
    padding: 20px;
    margin-left: 170px;
}

.dog {
    display: grid;
    height: 400px;
    margin-left: 70px;
}

.walk {
   display: grid;
   height: 400px;
   margin-left: 200px;
   margin-top: 15px;
}

.box4 {
    display: grid;
    grid-template-rows: minmax(100px, auto);
    padding: 20px;
    margin-right: 200px;
}

.box5 {
    display: grid;
    grid-template-rows: minmax(100px, auto);
    padding: 20px;
    margin-left: 170px;
}

.play {
    display: grid;
    height: 400px;
    margin-left: 70px;
   
}

.heading {
    text-align: center;
    padding: 10px;
    margin: auto;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: fixed;
    font-size: 16px;
  }