.section_{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
}
.nav-bar{
    display: flex;
    justify-content: flex-end;
}
.nav-bar button {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
}
.titel{
    color: #515855;
    font-size: 300%;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
.image{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    float: top;
    top: 0px;
}
.section1{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.section1 section{
    margin: 20px;
    height: 50px;
    flex-basis: auto;
    flex-grow: 1;
}
.section2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-flow: row wrap;
}
.section2 section{
    margin: 20px;
    height: 50px;
    width: 100px;
    flex: 1 1 auto;

}
.footer {
    display: flex;
    background-color: #39ac73;
}