.container1{
    display: grid;
    grid-template-columns: auto 50%;
    grid-gap: 20px;
}
.grid1{
    display: grid;
    grid-column: 1/3;
}
.hero-image{
    width: 100%;
    height: auto;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(129, 126, 111);
    font-family: 'Open Sans', sans-serif;
    font-size: 130%;
  }
.grid2{
    margin-left: 170px;
    margin-bottom: 20px;
    background-color: #64915c;
    padding-left: 15px;
}
.grid3{
    margin-right: 170px;
    margin-bottom: 20px;
    background-color: #64915c;
    padding-left: 15px;
}
h3{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 15px;
}
.list > li{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
footer .copyright{
    padding-bottom: 1px;
}
@media screen and (max-width: 1024px){
    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .grid1{
        display: grid;
        grid-column: 1/3;
    }
    .grid2{
        margin-left: 10px;
        margin-bottom: 5px;
        background-color: #64915c;
        padding-left: 15px;
    }
    .grid3{
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: #64915c;
        padding-left: 15px;
    }
}
@media screen and (max-width: 768px){
    .container1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .grid1{
        display: grid;
        grid-column: 1/2;
    }
    .grid2{
        display: grid;
        margin-left: 0px;
        margin-bottom: 5px;
        background-color: #64915c;
        padding-left: 15px;
    }
    .grid3{
        display: grid;
        margin-right: 0px;
        margin-bottom: 10px;
        background-color: #64915c;
        padding-left: 15px;
    }
}